aws_region = "us-east-1"
aws_profile = "your-aws-profile"
bucket_name = "your-unique-bucket-name"
bucket_force_destroy = true
bucket_tags = {
  Name        = "AudiobookDataBucket"
  Environment = "dev"
  "caylent:owner" = "your-email@caylent.com"
}
enable_versioning = true 